.footer {
    background: url(../../../../assets/images/noise_transparent@2x.png), $start-screen-gradient-background, $start-screen-black-background;
    background-repeat: repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.footer__wrapper {
    display: flex;
    padding-top: 40px;
    column-gap: 158px;
    @include media-laptop {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 65px;
        column-gap: 60px;
        padding-top: 30px;
    }
    @include media-mobile {
        row-gap: 40px;
    }
}

.footer__title {
    max-width: 280px;
    margin: 16px 0 40px 0;
    color: $color-light-xl;
    @include media-laptop {
        margin-top: 0;
    }
    @include media-mobile{
        text-align: center;
    }
}

.footer__title-locations {
    margin-bottom: 32px;
    @include media-mobile{
        margin: 0 auto;
    }
}

.footer__locations {
    min-width: 302px;
    flex-grow: 1;
    @include media-laptop {
        flex-grow: 0;
    }
}

.footer__contacts {
    min-width: 280px;
}

.footer__img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__img img {
    max-width: 100%;
    height:auto;
    @include media-mobile{
        max-width: 260px;
    }
}