/* Start shelter styles */

/* Fonts */
@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial/ArialMT.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial/Arial-ItalicMT.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia/Georgia.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* General styles */
html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
}