/* Start shelter styles */
/* Fonts */
@font-face {
    font-family: 'Arial';
    src: url('../../../assets/fonts/arial/ArialMT.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../../assets/fonts/arial/Arial-ItalicMT.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../../assets/fonts/georgia/Georgia.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* General styles */
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1 {
    @extend %font-add;
    @include font ($size: 3.2rem, $height: 110%, $spacing: 0.06em);
    color: $color-dark-l;
    margin: 0;
}

h2 {
    @extend %font-add;
    @include font ($size: 4.4rem, $height: 130%);
    color: $color-light-xl;

}

h3 {
    @extend %font-add;
    @include font ($size: 3.5rem, $height: 130%, $spacing: 0.06em);
    color: $color-dark-l;
}

h4 {
    @extend %font-add;
    @include font ($size: 2.0rem, $height: 115%, $spacing: 0.06em);
    color: $color-dark-l;
    text-align: center;
    margin: 0;
}

h5 {
    @extend %font-add;
    @include font ($size: 1.5rem, $height: 110%, $spacing: 0.06em);
    color: $color-dark-l;
}