.header__list-link, .our-friends__button-paginator, .button {
  transition: all 0.3s ease-out;
}

.header__list, .header__logo-p {
  font-family: "Arial";
  font-style: normal;
}

.footer__link-text, .our-friends__button-paginator-num, .button, h5, h4, h3, h2, h1 {
  font-family: "Georgia", serif;
}

/* Start shelter styles */
/* Fonts */
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial/ArialMT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/fonts/arial/Arial-ItalicMT.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/fonts/georgia/Georgia.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* General styles */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

h2 {
  font-size: 4.4rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  color: #FFFFFF;
}

h3 {
  font-size: 3.5rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #545454;
}

h4 {
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 0;
}

h5 {
  font-size: 1.5rem;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #545454;
}

.button {
  padding: 17px 43px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  font-size: 1.7rem;
  line-height: 1.3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}
.button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.our-friends__buttons {
  display: flex;
  gap: 20px;
  padding-top: 60px;
}

.our-friends__button-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  cursor: pointer;
}

.our-friends__b-p-inactive {
  border-color: #CDCDCD;
  cursor: default;
}

.our-friends__button-paginator-num {
  cursor: default;
  background-color: #F1CDB3;
  border-color: #F1CDB3;
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.our-friends__button-paginator-active:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.footer__link-ico-mail {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 26px;
  background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/footer/mail.png) no-repeat;
}

.footer__link-ico-phone {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 32px;
  background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/footer/phone.png) no-repeat;
}

.footer__link-ico-location {
  display: inline-block;
  margin-right: 20px;
  width: 22px;
  height: 32px;
  background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/footer/pin.png) no-repeat;
}

.our-friends__card {
  width: 270px;
  padding-bottom: 30px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  cursor: pointer;
}

.our-friends__card:hover .button {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.our-friends__card-title {
  margin: 30px 0;
}

.our-friends__card-button {
  padding-bottom: 100px;
  padding-top: 60px;
}

.footer-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer__link-mail {
  margin-bottom: 44px;
}

.footer__link-city-boston {
  margin-bottom: 32px;
}

.footer__link-text {
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.header {
  padding-top: 30px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.header__logo {
  text-decoration: none;
}

.header__logo-p {
  font-size: 1.3rem;
  line-height: 100%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  color: #292929;
  text-align: right;
  padding-right: 1px;
  margin: 0;
  padding-top: 10px;
}

.footer {
  background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/images/noise_transparent@2x.png), radial-gradient(60% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211f20;
  background-repeat: repeat;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.footer__wrapper {
  display: flex;
  padding-top: 40px;
  column-gap: 158px;
}

.footer__title {
  max-width: 280px;
  margin: 16px 0 40px 0;
  color: #FFFFFF;
  font-size: 3.5rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
}

.footer__title-locations {
  margin-bottom: 32px;
}

.footer__locations {
  flex-grow: 1;
}

.footer__contacts {
  min-width: 280px;
}

.footer__locations {
  min-width: 302px;
}

.header__list {
  display: flex;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6rem;
}

.header__list-item {
  list-style: none;
  margin: 0 17.5px;
  cursor: pointer;
}
.header__list-item:last-child {
  margin-right: 2px;
}

.header__list-link {
  text-decoration: none;
  color: #545454;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}
.header__list-link:hover {
  border-bottom: 3px solid #F1CDB3;
  color: #292929;
}

.header__list-link-checked {
  border-bottom: 3px solid #F1CDB3;
  color: #545454;
  cursor: default;
}

.our-friends {
  background: #F6F6F6;
  padding-bottom: 100px;
}

.our-friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-friends__title {
  margin-top: 83px;
  margin-bottom: 58px;
  font-size: 3.5rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  text-align: center;
}

.our-friends__slider {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 435px);
  row-gap: 30px;
  column-gap: 40px;
}

/*# sourceMappingURL=style.css.map */
