.button {
    padding: 20px 45px;
    border-radius: 100px;
    border: 1px solid $color-dark-3xl;
    background-color: $color-primary;
    font-family: 'Georgia';
    font-size: 1.7rem;
    line-height: 1.3rem;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    cursor: pointer;
}