.button {
    padding: 20px 45px;
    border-radius: 100px;
    border: 1px solid $color-dark-3xl;
    background-color: $color-primary;
    @extend %font-add;
    @include font($size: 1.7rem, $height: 1.3rem, $weight:400, $style:normal, $spacing: 0.06em);
    color: $color-dark-3xl;
    cursor: pointer;
}