// Help
.help__ico {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}

.help__ico-pet-food {
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/help/Vector.png) no-repeat center;
}

.help__ico-transportation {
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/help/transportation.png) no-repeat center;
}

.help__ico-toys {
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/help/toys.png) no-repeat center;
}

.help__ico-bowls-and-cups {
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/help/bowls-and-cups.png) no-repeat center;
}

.help__ico-shampoos {
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/help/shampoos.png) no-repeat center;
}

.help__ico-vitamins {
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/help/vitamins.png) no-repeat center;
}

.help__ico-medicines {
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/help/medicines.png) no-repeat center;
}

.help__ico-collars-leashes {
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/help/collars-or-leashes.png) no-repeat center;
}

.help__ico-sleeping-areas {
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/help/sleeping-area.png) no-repeat center;
}

// Donations
.donation__link-ico {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 30px;
    height: 23px;
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/credit-card.svg) no-repeat;
}

// Footer
.footer__link-ico-mail {
    display: inline-block;
    margin-right: 20px;
    width: 40px;
    height: 26px;
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/footer/mail.png) no-repeat;
}

.footer__link-ico-phone {
    display: inline-block;
    margin-right: 20px;
    width: 40px;
    height: 32px;
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/footer/phone.png) no-repeat;

}

.footer__link-ico-location {
    display: inline-block;
    margin-right: 20px;
    width: 22px;
    height: 32px;
    background: url(/Users/aleksandrmatveev/Desktop/matveev96-JSFEPRESCHOOL2024Q2/shelter/assets/icons/footer/pin.png) no-repeat;
}