// Help
.help__ico {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @include media-burger {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        
    }
}

.help__ico-pet-food {
    background-image: url(../../../assets/icons/help/Vector.png);
}

.help__ico-transportation {
    background-image: url(../../../assets/icons/help/transportation.png);
}

.help__ico-toys {
    background-image: url(../../../assets/icons/help/toys.png);
}

.help__ico-bowls-and-cups {
    background-image: url(../../../assets/icons/help/bowls-and-cups.png);
}

.help__ico-shampoos {
    background-image: url(../../../assets/icons/help/shampoos.png);
}

.help__ico-vitamins {
    background-image: url(../../../assets/icons/help/vitamins.png);
}

.help__ico-medicines {
    background-image: url(../../../assets/icons/help/medicines.png);
}

.help__ico-collars-leashes {
    background-image: url(../../../assets/icons/help/collars-or-leashes.png);
}

.help__ico-sleeping-areas {
    background-image: url(../../../assets/icons/help/sleeping-area.png);
}

// Donations
.donation__link-ico {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 30px;
    height: 23px;
    background: url(../../../assets/icons/credit-card.svg) no-repeat;
}

// Footer
.footer__link-ico-mail {
    display: inline-block;
    margin-right: 20px;
    width: 40px;
    height: 26px;
    background: url(../../../assets/icons/footer/mail.png) no-repeat;
}

.footer__link-ico-phone {
    display: inline-block;
    margin-right: 20px;
    width: 40px;
    height: 32px;
    background: url(../../../assets/icons/footer/phone.png) no-repeat;

}

.footer__link-ico-location {
    display: inline-block;
    margin-right: 20px;
    width: 22px;
    height: 32px;
    background: url(../../../assets/icons/footer/pin.png) no-repeat;
}