.button {
    padding: 17px 43px;
    border-radius: 100px;
    border: 2px solid $color-primary;
    background-color: transparent;
    @extend %font-add;
    @extend %transition;
    @include font($size: 1.7rem, $height: 1.3rem, $weight:400, $style:normal, $spacing: 0.06em);
    color: $color-dark-3xl;
    cursor: pointer;
    &:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
}

// Our friends
.our-friends__buttons {
    display: flex;
    gap: 20px;
    padding-top: 60px;
    @include media-tablet {
        padding-top: 40px;
    }
    @include media-burger {
        gap: 10px;
    }
    @include media-mobile {
        padding-top: 45px;
    }
}

.our-friends__button-paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid $color-primary;
    background-color: transparent;
    cursor: pointer;
    @extend %transition;
    @include font($size: 2.0rem, $height: 115%, $spacing: 0.06em);
    color: $color-dark-3xl;
    
}

.our-friends__b-p-inactive {
    border-color: $color-dark-s;
    cursor: not-allowed;
}

.our-friends__button-paginator-num {
    cursor: default;
    background-color: $color-primary;
    border-color: $color-primary;
    @extend %font-add;
}

.our-friends__button-paginator-active {
    &:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
}