// Footer
.footer__link-ico-mail {
    display: inline-block;
    margin-right: 20px;
    width: 40px;
    height: 26px;
    background: url(../../../../assets/icons/footer/mail.png) no-repeat;
}

.footer__link-ico-phone {
    display: inline-block;
    margin-right: 20px;
    width: 40px;
    height: 32px;
    background: url(../../../../assets/icons/footer/phone.png) no-repeat;

}

.footer__link-ico-location {
    display: inline-block;
    margin-right: 20px;
    width: 22px;
    height: 32px;
    background: url(../../../../assets/icons/footer/pin.png) no-repeat;
}