.help__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__title {
    margin: 75px 0 60px 0;
    text-align: center;
    @include media-tablet {
        margin: 80px 0 55px 0;
    }
    @include media-mobile {
        margin: 40px 0 42px 0;
    }
}

.help__content {
    max-width: 1026px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px 119px;
    justify-content: center;
    @include media-tablet {
        gap: 55px 60px;
    }
    @include media-mobile {
        gap: 30px 30px;
        justify-content: flex-start;
        margin: 0 4px 0 5px;
        padding-bottom: 42px;
    }
}