.about {
    padding: 80px 0 100px 0;
    @include media-mobile {
        padding: 42px 0 42px 0;
    }
}

.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @include media-tablet {
        flex-direction: column-reverse;
        align-items: center;
        gap: 80px;
    }
    @include media-mobile {
        padding: 0 25px;
        gap: 42px;
    }
    
}

.about__img {
    padding-right: 120px;
    @include media-tablet {
        padding-right: 0;
    }
    @include media-mobile {
        max-width: 260px;
    }
}
.about__img img {
    max-width:100%;
    height:auto;
}

.about__title {
    max-width: 370px;
    margin: 14px 0 25px 0;
    @include media-tablet {
        margin-top: 0;
    }
    @include media-mobile {
        max-width: 300px;
        text-align: center;
    }
}

.about__text {
    max-width: 430px;
    margin-top: 25px;
    @include font($size: 1.5rem, $height: 160%);
    @extend %font-prime;
    color: $color-dark-xl;
    @include media-tablet {
        margin-bottom: 0;
    }
    @include media-mobile {
        max-width: 270px;
        text-align: justify;
    }
}